.section__header {
  background-image: var(--linear-gradient);
  box-shadow: var(--box-shadow);
}

.section__footer {
  background-color: var(--second-bg-color);
}

.text {
  display: flex;
  justify-content: center;
  font-size: 120px;
  padding-top: 50px;
}